
.headerName{
   color: rgb(55, 55, 55);
   font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
   font-size: 35px;
   text-shadow: 1px 1px 2px #656668;
}

.header{
    width: 98vw;
    height: max-content;
    padding: 20px;
    background-color: #E6F1FFff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 6px #656668;
    position: fixed;
}

.navlinks a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 700;
    color: rgb(55, 55, 55);
    margin: 8px;
}

.navlinks{
    width: max-content;
    height: max-content;
}

.theme{
    font-size: 40px;
    color: rgb(255, 179, 0);
}