.intro{
    margin-top: 170px;
    width: 100vw;
    height: 100vh;
    padding: 100px;
    display: flex;
    gap: 100px;
}

.basic{
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.basic h1{
    margin: 0;
    color: #f7fafc;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 100px;
}

.basic p{
    color: #f7fafcb8;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
}

.buttons{
    height: max-content;
    display: flex;
    gap: 40px;
}

.buttons a {
    width: 150px;
    height: max-content;
    color: #9ca3af; /* text color matches border */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #9ca3af; /* matching border */
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease; /* smooth hover effect */
}

.buttons a:hover {
    background: linear-gradient(90deg, #9ca3af, #b9ccce);
    color: #1a202c;
    box-shadow: 0 0 15px #9ca3af;
}

.image{
    display: flex;
    flex-direction: column;
}

.image img{
    border-radius: 15px;
}